@model List<Bundles.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Muhasebe/Views/Shared/_LayoutM.cshtml";
}

    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>150</h3>

                            <p>Toplam Sipariş</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Gelir Artışı</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>
        <div class="card card-dark">
            <div class="card-header">
                <h2> Siparişler</h2>
            </div>
            <div class=" card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @*<th>Müşteri</th>
                            <th>Müşteri Sorumlusu</th>*@
                            <th>Sipariş tarihi</th>
                            <th>Sipariş Adresi</th>
                            <th>Ülke</th>
                            <th>Şehir</th>
                            <th>Sipariş Adı</th>
                            @*<th>Nakliyeci</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                           <tr>
                            @*<td>@order.Customer</td>
                            <td>@order.Employee</td>*@
                            <td>@order.OrderDate</td>
                            <td>@order.ShipAddress</td>
                            <td>@order.ShipCountry</td>
                            <td>@order.ShipCity</td>
                            <td>@order.ShipName</td>
                            @*<td>@order.Shipper</td>*@
                           </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
